@import 'var.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// HEADER
header{
    width: 100%;
    padding: 24px 16px;
    background-color: $color65;
    .headerInside{
        margin: auto;
        display: flex;
        max-width: 1240px;
        align-items: center;
        justify-content: space-between;
        .headerLogo{
            color: $colorFF;
            text-decoration: none;
            font-size: $font-size40;
            font-family: 'Bebas Neue';
            line-height: $font-height48;
            font-weight: $font-weight400;
        }
        ul{
            gap: 50px;
            display: flex;
            list-style: none;
            li{
                a{
                    color: $colorFF;
                    position: relative;
                    font-family: $family;
                    text-decoration: none;
                    font-size: $font-size18;
                    line-height: $font-height25;
                    font-weight: $font-weight400;
                }
                a::before{
                    left: 50%;
                    width: 0%;
                    height: 2px;
                    content: '';
                    bottom: -2px;
                    transition: 200ms;
                    position: absolute;
                    border-radius: 2px;
                    background-color: white;
                    transform: translate(-50%);
                }
                a:hover::before{
                    left: 0;
                    height: 2px;
                    width: 100%;
                    content: '';
                    bottom: -2px;
                    position: absolute;
                    border-radius: 2px;
                    background-color: white;
                    transform: translate(0%);
                }
            }
            .contactUsHeader{
                color: black;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                padding: 8px 16px;
                border-radius: 24px;
                font-family: 'Nunito';
                text-decoration: none;
                background-color: white;
            }
        }
        .contactUsHeader{
            color: $color00;
            padding: 8px 16px;
            border-radius: 24px;
            font-family: $family;
            text-decoration: none;
            font-size: $font-size16;
            background-color: white;
            line-height: $font-height22;
            font-weight: $font-weight400;
        }
    }
}
// MAIN
main{
    padding: 0 16px;
    max-width: 1240px;
    margin: auto;
    .calculator{
        margin: auto;
        margin-top: 64px;
        max-width: 1110px;
        // margin-bottom: 100px;
        h2{
            color: $color00;
            text-align: center;
            font-family: $family;
            font-size: $font-size40;
            font-style: $font-styleNor;
            line-height: $font-height55;
            font-weight: $font-weight600;
        }
        .ratesection{
            width: 100%;
            padding: 16px 0;
            display: flex;
            color: $colorFF;
            margin-top: 40px;
            border-radius: 24px;
            align-items: center;
            background-color: $color95;
            justify-content: space-around;
            .currency{
                display: flex;
                max-width: 350px;
                font-family: $family;
                font-size: $font-size18;
                font-style: $font-styleNor;
                line-height: $font-height22;
                font-weight: $font-weight700;
                justify-content: space-between;
                select{
                    border: none;
                    outline: none;
                    color: $colorFF;
                    cursor: pointer;
                    min-width: 100px;
                    background: none;
                    text-align: right;
                    font-family: $family;
                    font-size: $font-size18;
                    font-style: $font-styleNor;
                    line-height: $font-height22;
                    font-weight: $font-weight600;
                }
            }
            .rate{
                gap: 16px;
                display: flex;
                align-items: center;
                font-family: $family;
                font-size: $font-size18;
                font-style: $font-styleNor;
                line-height: $font-height22;
                font-weight: $font-weight700;
                .rates{
                    display: flex;
                    flex-direction: column;
                    .rateValue{
                        gap: 8px;
                        display: flex;
                        font-weight: $font-weight600;
                        justify-content: space-between;
                    }
                }
            }
            .time{
                gap: 16px;
                display: flex;
                font-family: $family;
                font-size: $font-size18;
                font-style: $font-styleNor;
                line-height: $font-height22;
                font-weight: $font-weight700;
                .timeValue{
                    font-weight: $font-weight600;
                }
            }
        }
        .calculatorBloks{
            gap: 32px;
            width: 100%;
            display: flex;
            margin-top: 64px;
            justify-content: space-between;
            // flex-direction: column;
            .inputCalc{
                width: 48%;
                display: flex;
                flex-direction: column;
                gap: 16px;
                .contantItems{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .itemInputBlock{
                        width: 100%;
                        padding: 24px;
                        border-radius: 24px;
                        background-color: $color65;
                        transition: 500ms;
                        .titlItem{
                            display: flex;
                            align-items: start;
                            justify-content: space-between;
                            flex-direction: column;
                            .text{
                                gap: 16px;
                                display: flex;
                                align-items: center;
                                input{
                                    border: none;
                                    outline: none;
                                    display: flex;
                                    width: 200px;
                                    color: $colorFF;
                                    background: none;
                                    font-family: $family;
                                    font-size: $font-size24;
                                    line-height: $font-height33;
                                    font-weight: $font-weight500;
                                }
                                input::placeholder{
                                    color: $colorFF;
                                }
                                .editTitle{
                                    border: none;
                                    outline: none;
                                    color: $colorFF;
                                    background: none;
                                    font-size: $font-size18;
                                }
                            }
                            .price{
                                gap: 24px;
                                display: flex;
                                color: $colorFF;
                                align-items: center;
                                font-family: $family;
                                font-size: $font-size24;
                                line-height: $font-height33;
                                font-weight: $font-weight500;
                                .openItem{
                                    border: none;
                                    outline: none;
                                    cursor: pointer;
                                    color: $colorFF;
                                    background: none;
                                    font-size: $font-size18;
                                }
                            }
                        }
                        .contentInput{
                            // max-height: 0;
                            overflow: hidden;
                            transition: 500ms;
                            hr{
                                color: $colorFF;
                                margin-top: 8px;
                                border-radius: 1px;
                                border: 1px solid $colorFF;
                            }
                            .inputsSec{
                                display: flex;
                                flex-direction: column;
                                margin-top: 16px;
                                gap: 16px;
                                .categoryItem{
                                    padding: 16px;
                                    border-radius: 24px;
                                    background-color: $colorFF;
                                    .titleCategoryItem{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        .titleCategory{
                                            font-family: $family;
                                            font-size: $font-size16;
                                            font-style: $font-styleNor;
                                            line-height: $font-height22;
                                            font-weight: $font-weight700;
                                        }
                                        .priceCategoryItem{
                                            gap: 16px;
                                            display: flex;
                                            font-family: $family;
                                            align-content: inherit;
                                            font-size: $font-size16;
                                            font-style: $font-styleNor;
                                            line-height: $font-height22;
                                            font-weight: $font-weight700;
                                            .openCategory{
                                                border: none;
                                                display: flex;
                                                outline: none;
                                                cursor: pointer;
                                                background: none;
                                                align-items: center;
                                                font-size: $font-size16;
                                                justify-content: center;
                                            }
                                        }
                                    }
                                    .contentCat{
                                        max-height: scrollHeight;
                                        transition: 500ms;
                                        overflow: hidden;
                                        hr{
                                            border: 1px solid $colorCC;
                                        }
                                        .editCategory{
                                            display: flex;
                                            margin-top: 8px;
                                            gap: 8px;
                                            justify-content: space-between;
                                            .left, .right{
                                                gap: 16px;
                                                width: 50%;
                                                max-width: 200px;
                                                display: flex;
                                                flex-direction: column;
                                                .blockEdit{
                                                    width: 100%;
                                                    display: flex;
                                                    align-items: center;
                                                    font-family: $family;
                                                    font-size: $font-size16;
                                                    font-style: $font-styleNor;
                                                    line-height: $font-height22;
                                                    font-weight: $font-weight700;
                                                    justify-content: space-between;
                                                    .input{
                                                        gap: 8px;
                                                        max-width: 150px;
                                                        display: flex;
                                                        justify-content: end;
                                                        input{
                                                            width: 100px;
                                                            border: none;
                                                            outline: none;
                                                            background: none;
                                                            font-family: $family;
                                                            font-size: $font-size16;
                                                            font-style: $font-styleNor;
                                                            line-height: $font-height22;
                                                            font-weight: $font-weight400;
                                                            border-bottom: 0.5px solid $color95;
                                                        }
                                                        .editPrice, .editName{
                                                            border: none;
                                                            outline: none;
                                                            cursor: pointer;
                                                            background: none;
                                                            font-size: $font-size16;
                                                        }
                                                    }
                                                    select{
                                                        border: none;
                                                        outline: none;
                                                        cursor: pointer;
                                                        background: none;
                                                        font-family: $family;
                                                        font-size: $font-size16;
                                                        font-style: $font-styleNor;
                                                        line-height: $font-height22;
                                                        font-weight: $font-weight400;
                                                    }
                                                }
                                            }
                                            .left {
                                                .removeCat{
                                                    width: 100%;
                                                    height: 24px;
                                                    border: none;
                                                    color: $colorRed;
                                                    background: none;
                                                    transition: 500ms;
                                                    border-radius: 24px;
                                                    background-color: $colorPink;
                                                }
                                                .removeCat:hover{
                                                    color: $colorFF;
                                                    background-color: $colorRed;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .addNewCategory{
                                gap: 16px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;
                                height: 56px;
                                border: none;
                                outline: none;
                                margin-top: 16px;
                                background: none;
                                border-radius: 24px;
                                background-color: $colorFF;
                                color: $color8B;
                                cursor: pointer;
                                font-family: $family;
                                font-size: $font-size16;
                                font-style: $font-styleNor;
                                line-height: $font-height22;
                                font-weight: $font-weight400;
                                span{
                                    width: 24px;
                                    height: 24px;
                                    display: flex;
                                    border-radius: 50%;
                                    align-items: center;
                                    justify-content: center;
                                    border: 1px solid $color8B;
                                }
                            }
                            .bottomItem{
                                display: flex;
                                justify-content: space-between;
                                .removeItem{
                                    background: none;
                                    border: none;
                                    width: 150px;
                                    background-color: $colorPink;
                                    color: $colorRed;
                                    cursor: pointer;
                                    font-family: $family;
                                    font-size: $font-size16;
                                    font-style: $font-styleNor;
                                    line-height: $font-height22;
                                    font-weight: $font-weight400;
                                    height: 40px;
                                    gap: 16px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-top: 16px;
                                    border-radius: 24px;
                                }
                                .calculateItem{
                                    background: none;
                                    border: none;
                                    width: 300px;
                                    background-color: $colorFF;
                                    color: $color00;
                                    cursor: pointer;
                                    font-family: $family;
                                    font-size: $font-size16;
                                    font-style: $font-styleNor;
                                    line-height: $font-height22;
                                    font-weight: $font-weight400;
                                    height: 40px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-top: 16px;
                                    border-radius: 24px;
                                }
                            }
                        }
                    }
                }
                .addNewItem{
                    width: 100%;
                    height: 56px;
                    background: none;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 24px;
                    background-color: $color65;
                    color: $colorFF;
                    gap: 16px;
                    font-style: $font-styleNor;
                    line-height: $font-height22;
                    font-weight: $font-weight400;
                    font-family: $family;
                    font-size: $font-size16;
                    cursor: pointer;
                    span{
                        width: 24px;
                        height: 24px;
                        display: flex;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid $colorFF;
                    }
                }
            }
            .resultAbs{
                width: 48%;
                min-height: 190px;
                overflow: hidden;
                .resultCalc{
                    width: 100%;
                    border-radius: 24px;
                    background-color: $color65;
                    display: flex;
                    top: 0;
                    right: 0;
                    flex-direction: column;
                    padding: 24px;
                    .titleResult{
                        h2{
                            color: $colorFF;
                            font-family: $family;
                            font-size: $font-size24;
                            font-style: $font-styleNor;
                            line-height: $font-height33;
                            font-weight: $font-weight400;
                        }
                    }
                    .contentResult{
                        padding-bottom: 24px;
                        margin-top: 8px;
                        max-height: 106px;
                        .resultsIutput{
                            display: flex;
                            flex-direction: column;
                            gap: 16px;
                            margin-top: 16px;
                            .itemResult{
                                display: flex;
                                justify-content: space-between;
                                padding: 16px;
                                background-color: $colorFF;
                                border-radius: 24px;
                                h5{
                                    font-family: $family;
                                    font-style: $font-styleNor;
                                    font-weight: $font-weight700;
                                    font-size: $font-size18;
                                    line-height: $font-height25;
                                    color: $color00;
                                }
                                p{
                                    font-family: $family;
                                    font-style: $font-styleNor;
                                    font-weight: $font-weight700;
                                    font-size: $font-size18;
                                    line-height: $font-height25;
                                    color: $color00;
                                    display: flex;
                                    gap: 8px;
                                }
                            }
                        }
                        .totalResult{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 24px;
                            background-color: $colorFF;
                            width: 100%;
                            height: 65px;
                            padding: 16px;
                            margin-top: 24px;
                            h4{
                                font-family: $family;
                                font-style: $font-styleNor;
                                font-weight: $font-weight700;
                                font-size: $font-size24;
                                line-height: $font-height33;
                                color: $color00;
                            }
                            p{
                                font-family: $family;
                                font-style: $font-styleNor;
                                font-weight: $font-weight700;
                                font-size: $font-size18;
                                line-height: $font-height25;
                                color: $color00;
                            }
                        }
                    }
                }
            }
        }
    }
    .aboutUs{
        width: 100%;
        margin-top: 100px;
        h2{
            color: $color00;
            text-align: center;
            font-family: $family;
            font-size: $font-size40;
            font-style: $font-styleNor;
            line-height: $font-height55;
            font-weight: $font-weight600;
        }
        .contentAbout{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 40px;
            gap: 12vw;
            .leftAbout{
                display: flex;
                flex-direction: column;
                gap: 100px;
                .img1, .img2{
                    width: 350px;
                    height: 250px;
                    border-radius: 24px;
                    background-color: $colorCC;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    img{
                        height: 100%;
                    }
                }
            }
            .rightAbout{
                display: flex;
                flex-direction: column;
                gap: 14px;
                p{
                    font-family: $family;
                    font-style: $font-styleNor;
                    font-weight: $font-weight600;
                    font-size: $font-size24;
                    line-height: $font-height33;
                }
            }
        }
    }
    .donate{
        margin: auto;
        margin-top: 100px;
        max-width: 516px;
        h2{
            color: $color00;
            text-align: center;
            font-family: $family;
            font-size: $font-size40;
            font-style: $font-styleNor;
            line-height: $font-height55;
            font-weight: $font-weight600;
        }
        .donationForm{
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 32px;
            button, a{
                width: 250px;
                height: 42px;
                border-radius: 24px;
                background: none;
                border: none;
                font-family: $family;
                font-style: $font-styleNor;
                font-weight: $font-weight400;
                font-size: $font-size16;
                line-height: $font-height22;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
            }
            .up{
                display: flex;
                gap: 16px;
                justify-content: space-between;
                input{
                    width: 250px;
                    height: 42px;
                    padding: 0 16px;
                    border-radius: 24px;
                    background: none;
                    border: none;
                    outline: none;
                    background-color: $colorCC;
                    color: black;
                    font-family: $family;
                    font-style: $font-styleNor;
                    font-weight: $font-weight400;
                    font-size: $font-size16;
                    line-height: $font-height22;
                }
                .leftUp{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }
                .rightUp{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    .donateBtn{
                        background-color: $color00;
                        color: $colorFF;
                        font-family: $family;
                        font-style: $font-styleNor;
                        font-weight: $font-weight400;
                        font-size: $font-size16;
                        line-height: $font-height22;
                    }
                    .paypalBtn{
                        background-color: $color2F;
                        color: $colorFF;
                    }
                }
            }
            .bottom{
                display: flex;
                gap: 16px;
                justify-content: space-between;
                .payoneerBtn{
                    background-color: $colorE4;
                    color: $colorFF;
                }
                .buyMeBtn{
                    background-color: $colorF9;
                    color: $color00;
                }
            }
        }
    }
}
.contactUs{
    background-color: $color65;
    padding: 64px 0 32px 0;
    margin-top: 100px;
    .contentFooter{
        max-width: 702px;
        margin: auto;
        text-align: center;
        .logoFooter{
            text-transform: uppercase;
            font-family: 'Bebas Neue';
            font-style: $font-styleNor;
            font-weight: $font-weight400;
            font-size: $font-size40;
            line-height: $font-height48;
            text-decoration: none;
            color: $colorFF;
        }
        hr{
            color: $colorFF;
            margin-top: 24px;
            border-radius: 1px;
            border: 1px solid $colorFF;
        }
        .inside{
            justify-content: center;
            margin-top: 24px;
            display: flex;
            gap: 16px;
            .left{
                display: flex;
                flex-direction: column;
                gap: 16px;
                input{
                    border: none;
                    background: none;
                    outline: none;
                    background-color: $colorFF;
                    font-family: $family;
                    font-style: $font-styleNor;
                    font-weight: $font-weight400;
                    font-size: $font-size16;
                    line-height: $font-height22;
                    width: 250px;
                    height: 42px;
                    border-radius: 24px;
                    padding: 0 16px;
                }
            }
            .rigth{
                width: 250px;
                height: 100px;
                #textarea{
                    width: 250px;
                    height: 100px;
                    resize: none;
                }
            }
        }
        .contantBtn{
            width: 250px;
            height: 42px;
            border-radius: 24px;
            background: none;
            border: none;
            outline: none;
            background-color: $color00;
            color: $colorFF;
            margin-top: 16px;
            font-family: $family;
            font-style: $font-styleNor;
            font-weight: $font-weight400;
            font-size: $font-size16;
            line-height: $font-height22;
        }
        .copyright{
            font-family: $family;
            font-style: $font-styleNor;
            font-weight: $font-weight400;
            font-size: $font-size16;
            line-height: $font-height22;
            color: $colorCC;
            margin-top: 24px;
        }
    }
}

// 
.none{
    display: none;
}
.rotate{
    transform: rotate(180deg);
}


// Media
@media (max-width: 920px) {
    header{
        height: 70px;
        padding: 16px;
        .headerInside{
            display: none;
        }
        .headerMobile{
            width: 100%;
            margin: auto;
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: end;
            .headerLogoMobile{
                left: 50%;
                color: $colorFF;
                position: absolute;
                text-decoration: none;
                font-size: $font-size32;
                font-family: 'Bebas Neue';
                transform: translate(-50%);
                font-style: $font-styleNor;
                line-height: $font-height38;
                font-weight: $font-weight400;
            }
            .headerBtnMobile{
                border: none;
                outline: none;
                color: $colorFF;
                background: none;
                font-size: $font-size22;
                cursor: pointer;
            }
            .menu{
                top: 54px;
                right: -16px;
                padding: 64px;
                width: 50vw;
                // height: 100vh;
                position: absolute;
                background-color: $color65;
                border-radius: 0px 0 16px 16px;
                border-top: 1px solid $colorCC;
                // box-shadow: -10px 0px 12px rgba(0, 0, 0, 0.25);
                ul{
                    gap: 64px;
                    display: flex;
                    list-style: none;
                    text-align: center;
                    flex-direction: column;
                    li{
                        a{
                            color: $colorFF;
                            position: relative;
                            text-decoration: none;
                        }
                        a::before{
                            left: 50%;
                            width: 0%;
                            content: '';
                            height: 2px;
                            bottom: -2px;
                            transition: 200ms;
                            position: absolute;
                            border-radius: 2px;
                            background-color: white;
                            transform: translate(-50%);
                        }
                        a:hover::before{
                            left: 0;
                            width: 100%;
                            height: 2px;
                            content: '';
                            bottom: -2px;
                            position: absolute;
                            border-radius: 2px;
                            transform: translate(0%);
                            background-color: white;
                        }
                    }
                }
            }
        }
    }
    main{
        width: 100%;
        padding: 0 16px;
        .calculator{
            margin-top: 32px;
            h2{
                display: none;
            }
            .ratesection{
                padding: 16px ;
                flex-direction: column;
                gap: 8px;
            }
            .calculatorBloks{
                flex-direction: column;
                .inputCalc{
                    width: 100%;
                    .editCategory{
                        flex-direction: column-reverse;
                        gap: 16px;
                        align-items: end;
                        .left, .right{
                            width: 100% !important;
                            max-width: 500px!important;
                        }
                    }
                }
                .resultAbs{
                    width: 100%;
                    .resultCalc{
                        .titleResult{
                            h2{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .aboutUs{
            width: 100%;
            margin-top: 80px;
            h2{
                font-size: $font-size32;
                line-height: 44px;
            }
            .contentAbout{
                margin-top: 32px;
                .leftAbout{
                    display: none;
                }
                .rightAbout{
                    font-size: $font-size18;
                    line-height: $font-height25;
                }
            }
        }
        .donate{
            margin-top: 80px;
            h2{
                font-size: $font-size32;
                line-height: 44px;
            }
            .donationForm{
                button, a{
                    width: 300px;
                }
                .up{
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    .leftUp, .rightUp{
                        input{
                            width: 300px;
                        }
                    }
                }
                .bottom{
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

    }
    .contactUs{
        padding: 16px 16px 32px 16px;
        .contentFooter{
            .logoFooter{
                font-size: $font-size32;
                line-height: $font-height38;
            }
            hr{
                margin-top: 16px;
            }
            .inside{
                flex-direction: column;
                align-items: center;
                margin-top: 16px;
            }
            .copyright{
                margin-top: 16px;
                font-size: $font-size16;
            }
        }
    }
}