// Color
    $color65: #656565;
    $colorFF: #FFFFFF;
    $color95: #959595;
    $color00: #000000;
    $color2F: #2F6EB3;
    $colorF9: #F9DE4B;
    $colorE4: #E45327;
    $colorCC: #CCCCCC;
    $color8B: #8B8B8B;



// Font
    // Family
    $family: 'Nunito';
    // Size
    $font-size16: 16px;
    $font-size18: 18px;
    $font-size22: 22px;
    $font-size24: 24px;
    $font-size32: 32px;
    $font-size40: 40px;

    // Weight
    $font-weight400: 400;
    $font-weight500: 500;
    $font-weight600: 600;
    $font-weight700: 700;
    $font-weight800: 800;
    
    // Height
    $font-height22: 22px;
    $font-height25: 25px;
    $font-height33: 33px;
    $font-height38: 38px;
    $font-height48: 48px;
    $font-height55: 55px;
    // Style
    $font-styleNor: normal;

